<div style=" text-align: center;  justify-content: center; width: 600px; height: 410px; padding-top: 2%;">
    <h2 style="text-align: center">Some tips & tricks to improve your Instagram profile!</h2> 
        <mat-card class="example-card" style="margin: 5px;">
            <mat-card-title>Tip #1</mat-card-title>
            <mat-card-content>
                Optimize your Instagram account
            </mat-card-content>
        </mat-card>
        <pre></pre>
        <mat-card class="example-card" style="margin: 5px;">
            <mat-card-title>Tip #2</mat-card-title>
            <mat-card-content>
                Schedule Instagram posts in advance by keeping a consistent content calendar
            </mat-card-content>
        </mat-card>
        <pre></pre>
        <mat-card class="example-card" style="margin: 5px;">
            <mat-card-title>Tip #3</mat-card-title>
            <mat-card-content>
                Get partners and brand advocates to post your content
            </mat-card-content>
        </mat-card>
        <pre></pre>
        <mat-card class="example-card" style="margin: 5px;">
            <mat-card-title>Tip #4</mat-card-title>
            <mat-card-content>
                Avoid fake Instagram followers
            </mat-card-content>
        </mat-card>
        <pre></pre>
    </div>

    