
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #571032 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #571032 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #571032 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #571032 !important;
    opacity: 0.8!important;
}

::ng-deep .mat-input-element {
    caret-color:#571032 ;
}

::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #571032 ;
}

::ng-deep .mat-form-field-label {
    color: #571032 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #571032 !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #571032 !important;
}